* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #fafafa;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 12px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 12px 15px;
  border-radius: 6px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  transition: background-color 0.3s, transform 0.3s;
}

li:hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}
